nav.navbar.navbar-default.navbar-fixed-top.nav-hide(
    ng-mouseover='onMouseover()' ng-mouseleave='onMouseleave()')
  .container-fluid
    .navbar-header
      a.navbar-brand.shake Moolo

    ul.nav.navbar-nav.navbar-right(ng-show='isLogin')
      li
        a(ng-click='logout()') Logout

    ul.nav.navbar-nav.navbar-right(ng-show='!isLogin')
      li
        a(href='#!/signup') Signup
      li
        a(href='#!/login') Login