nav.navbar.navbar-default.navbar-fixed-top.nav-hide(
    ng-mouseover='onMouseover()' ng-mouseleave='onMouseleave()')
  .container-fluid
    .navbar-header
      a.navbar-brand Moolo

    ul.nav.navbar-nav.navbar-right
      li
        a About
      li
        a Logout