.page-landing
  div(landing-header)
  .container
    .row
      .col-xs-6
        .points
          ul.list-unstyled
            li
              h4 Focus
              p
                | All unnecessary features like formatting, toolbars are removed
                | to help you only focus on writing.
            li
              h4 Private
              p
                | No sharing, no comment, no Facebook like, you are the only one
                | to read your thoughts.
            li
              h4 Memory
              p
                | No one reads what they wrote before, but Moolo reminds you with
                | your previous thoughts smartly.
        .action.text-center
          .row
            a.btn.btn-primary.btn-lg(href='#!/signup') Sign up
      .col-xs-6
        img.img-responsive(src='/img/landing-img.png')

