.page-carousel
  text-align center
  height 193px
  position relative

  .ng-hide-remove
    // -webkit-animation 2.5s fadeIn ease
    // animation 2.5s fadeIn ease
    -webkit-animation .65s fadeInUp ease-in-out
    animation .65s fadeInUp ease-in-out

  .refresh
    position absolute
    bottom 0
    left 0
    right 0
    margin 0 auto
    a
      color #999
      cursor pointer
      &:hover
        color #000
  