.page-journal
  .fixed-container
    .journal-header
      .container
        div(carousel mems='vm.mems')

    .journal-content
      .container
        .post(ng-repeat='p in vm.ps')
          div(post)
          
         
          
        