.page-journal
  .journal-header
    padding 60px 0 50px 0
    text-align center
    border-bottom 1px solid #ddd
    height 290px

  .post
    padding 70px 0

    .post-content
      padding 15px 0
      clear both
      
      
    