.page-journal
  .journal-header
    padding 20px 0 50px 0
    text-align center
    border-bottom 1px solid #ddd
    height 240px
    margin-bottom 20px

  .journal-content
    padding-top 30px

  .pagination
    width 100%
    a
      padding 0 40px
      cursor pointer
      color #999
      &:hover
        color #000

      
    