.page-post
  padding 15px 0

  .post-content
    padding 15px 0
    clear both

  &.post-attr-hide
    .attr-text
      opacity 0

  .separator
    width 100%
    border-bottom 1px solid #eee
    margin-top 10px