.page-post.post-attr-hide(
    ng-mouseover='onMouseover()' ng-mouseleave='onMouseleave()')
  .post-header
    p.pull-left.date-text {{thePost.createAt | momentFormat: 'MMMM DD, YYYY'}}
    p.pull-right.attr-text {{thePost.createAt | momentFormat: 'hh:mm a'}}
  .post-content
    p {{thePost.content}}
  .post-footer.attr-text
    span {{thePost.location}}
  