.page-post.post-attr-hide(
    ng-mouseover='onMouseover()' ng-mouseleave='onMouseleave()')
  .post-header
    p.pull-left.date-text APRIL 2, 2013
    p.pull-right.attr-text 10:35 PM
  .post-content
    p
      | My name is Michiel de Graaf I design interfaces, craft websites and write cascading style sheets & hypertext markup. Previously lead designer Previously lead designer Previously lead designer Previously 
  .post-footer.attr-text
    span 35 F
    span San Francisco, CA
  