//          ┌─┐       ┌─┐
//       ┌──┘ ┴───────┘ ┴──┐
//       │                 │
//       │       ───       │
//       │  ─┬┘       └┬─  │
//       │                 │
//       │       ─┴─       │
//       │                 │
//       └───┐         ┌───┘
//           │         │
//           │         │
//           │         │
//           │         └──────────────┐
//           │                        │
//           │                        ├─┐
//           │                        ┌─┘    
//           │                        │
//           └─┐  ┐  ┌───────┬──┐  ┌──┘         
//             │ ─┤ ─┤       │ ─┤ ─┤         
//             └──┴──┘       └──┴──┘ 

doctype html

html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    title(ng-bind='title')
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/img/favicon.ico' type='image/x-icon')

    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
         rel='stylesheet')
    link(href='//cdn.rawgit.com/daneden/animate.css/master/animate.min.css'
         rel='stylesheet')

    // CSS for modules.
    link(href='/client/styles.css' rel='stylesheet')
    link(href='/client/app/journal/journal.css' rel='stylesheet')
    link(href='/client/app/journal/carousel.css' rel='stylesheet')
    link(href='/client/app/journal/post.css' rel='stylesheet')
    link(href='/client/app/journal/post-input.css' rel='stylesheet')
    link(href='/client/app/landing/landing.css' rel='stylesheet')
    link(href='/client/app/landing/landing-header.css' rel='stylesheet')
    link(href='/client/app/auth/signup.css' rel='stylesheet')
    link(href='/client/app/auth/login.css' rel='stylesheet')
      
  body
    div
      div(scroll-nav)
      div(ng-view)
      include ./app/layout/footer.jade

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js')
    script(src='//cdn.rawgit.com/arunisrael/angularjs-geolocation/master/dist/angularjs-geolocation.min.js')
    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyA97a70Sy0_sVu8l5lsSECV-2hS3sw-C5M')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js')

    script(src='/client/app/app.module.js')

    // Reusable blocks/modules.
    script(src='/client/app/blocks/logger/logger.module.js')
    script(src='/client/app/blocks/logger/logger.js')
    script(src='/client/app/blocks/router/router.module.js')
    script(src='/client/app/blocks/router/routehelper.js')

    // Core modules.
    script(src='/client/app/core/core.module.js')
    script(src='/client/app/core/config.js')
    script(src='/client/app/core/config.route.js')
    script(src='/client/app/core/users.service.js')
    script(src='/client/app/core/posts.service.js')
    script(src='/client/app/core/auth.service.js')
    script(src='/client/app/core/geo.service.js')
    script(src='/client/app/core/token-interceptor.service.js')
    script(src='/client/app/core/error-interceptor.service.js')
    script(src='/client/app/core/slice.filter.js')
    script(src='/client/app/core/momentFormat.filter.js')
    script(src='/client/app/core/utils.service.js')

    // Layout modules.
    script(src='/client/app/layout/layout.module.js')
    script(src='/client/app/layout/scroll-nav.directive.js')

    // Auth modules.
    script(src='/client/app/auth/auth.module.js')
    script(src='/client/app/auth/config.route.js')
    script(src='/client/app/auth/signup.controller.js')
    script(src='/client/app/auth/login.controller.js')

    // Landing modules.
    script(src='/client/app/landing/landing.module.js')
    script(src='/client/app/landing/config.route.js')
    script(src='/client/app/landing/landing-header.directive.js')

    // Journal modules.
    script(src='/client/app/journal/journal.module.js')
    script(src='/client/app/journal/config.route.js')
    script(src='/client/app/journal/journal.controller.js')
    script(src='/client/app/journal/carousel.directive.js')
    script(src='/client/app/journal/post.directive.js')
    script(src='/client/app/journal/post-input.directive.js')

    //- For GA.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65164898-1', {'siteSpeedSampleRate': 100});    
