@import 'bootstrap'

.ng-hide 
  display none !important

// Overall.
.container
  max-width 720px

.fixed-container
  padding-top 50px

// Text.
body
  font-family "minion-pro", Adobe Garamond Pro, Georgia, Times, serif
  font-size 14px
  line-height 180%
  color #18191a
  -webkit-font-smoothing: antialiased

p
  font-family "leitura-news" Georgia serif
  font-size 19px
  line-height 1.55556
  -webkit-font-smoothing antialiased
  color #3d464d

.attr-text, .date-text
  font-family "franklin-gothic-urw" Geneva Verdana san-serif
  font-size 1.4rem
  font-weight 600
  line-height 1.55556
  color #3d464d

  -webkit-transition opacity .8s ease-in-out
  -moz-transition opacity .8s ease-in-out
  -ms-transition opacity .8s ease-in-out
  -o-transition opacity .8s ease-in-out
  transition opacity .8s ease-in-out

.date-text
  font-size 1.6rem
  font-weight 700

// .header-text
//   font-family "minion-pro", Adobe Garamond Pro, Georgia, Times, serif
//   font-size 1.125em
//   line-height 1.4em
//   color #000
//   text-shadow 0 1px rgba(255,255,255,.4)
//   padding 15px 0
//   -webkit-font-smoothing: antialiased

// Buttons.
.btn-primary
  opacity .7
  color #fff
  background-color #000
  border-color #000
  &:hover
    opacity: .8
    color #fff
    background-color #000
    border-color #000

// Forms.
form
  label
    font-size 18px
  .form-control
    height 40px
    &:focus
      outline: none !important;
      border:1px solid #999;
  
    
// Navbar.
nav
  border none !important
  background-color #fefefe !important
  padding 0 100px
  a
    cursor pointer
  ul
    -webkit-transition opacity 1s ease-in-out
    -moz-transition opacity 1s ease-in-out
    -ms-transition opacity 1s ease-in-out
    -o-transition opacity 1s ease-in-out
    transition opacity 1s ease-in-out

  &.nav-hide
    background-color transparent
    ul
      opacity 0

  .navbar-brand
    color #000 !important
    &.shake
      -webkit-animation .65s rubberBand ease-in-out
      animation .65s rubberBand ease-in-out

    &:hover
      -webkit-animation .65s rubberBand ease-in-out
      animation .65s rubberBand ease-in-out
      

// Footer.
.page-footer
  text-align center
  border-top 1px solid #ddd
  margin-top 30px
  padding 30px 0
  p
    color #999
    font-size 1em
    font-weight 600